<!--footer-->
<footer>


    <!-- //instagram posts -->
    <!-- subscribe -->
    <div class="footer-bottom-w3layouts-agileinfo">
        <div class="subscribe-main text-center">
            <h2>Feedback</h2>
            <div class="subscribe-form">
                <form action="#" method="post" class="subscribe_form">
                    <label style="color:white;">Message</label>
                    <textarea class="form-control" name="message" type="text"
                        style="color: #fff;background-color: #111111;" placeholder="Type here..."
                        required=""></textarea>
                    <input style="height: 47px;" class="form-control" type="submit" value="Send" name="send">
                </form>

            </div>
            <p>We respect your privacy.No spam ever!</p>
        </div>

        <!-- //subscribe -->
        <!-- footer -->
        <div class="footer-cpy text-center">
            <ul class="nav-item">
                <a href="/admin" style="">
                    <font color="lite blue">Admin
                </a></font>
                <br>
                <a href="/seller" style="">
                    <font color="lite blue">Seller
                </a></font>
            </ul>
        </div>
        <div class="copyrightbottom-w3ls-agile">
            <center>
                <p>© 2020 Dream haulage. All Rights Reserved
            </center>
            </p>

        </div>
    </div>


    </div>
    </div>
</footer>
<!-- //footer -->