<!--Header-->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/owl.theme.css" type="text/css" media="all">
	<link href="css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Prata" rel="stylesheet">
<header>
    <div class="top-bar_sub_w3layouts_agile">
        <h6>
            <i class="fa fa-phone" aria-hidden="true"></i> Call Us : +91 9400251580

            <a style="background-color: #0e9437;" href="/contact">Contact Us </a>
        </h6>
        <div class="log">

            <h5>
                <a class="sign" href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-user"></i> User Account</a>
            </h5>


        </div>
        <div class="clearfix"> </div>
    </div>

    <div class="header_top" id="home">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <i class="fa fa-car" aria-hidden="true"></i>Dream Haulage</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link cool" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle cool" href="#" id="navbarDropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true">Vehicles
                            <i class="fas fa-angle-down"></i></a>
                        <div style="z-index: 1;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/car-listing">Cars</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/bike-listing">Bikes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/scooter-listing">Scooters</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/bus-listing">Bus</a>

                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link cool" href="/about">About Dream Haulage</a>
                    </li>
                    <div class="nav-item">
                        <li class="has-child">
                            <a></a>
                            <ul class="drop-nav">

                                

                                {{#if user}}
                                <li class="nav-item dropdown">
                                    
                                    <a style="background-color: #232222; font-size: 16px; border-radius: 32px; text-transform: uppercase; color:white; font-size: 14px; "
                                        class="nav-link dropdown-toggle cool" href="#" id="navbarDropdownMenuLink"
                                        data-toggle="dropdown"><i class="fa fa-user-circle"></i>{{user.name}}

                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/profile">Profile Settings</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/update-password">Update Password</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/mybookings">My Booking</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="receipt.php">Receipt</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/rating">Rating</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/userLogout">Sign Out</a>

                                    </div>
                                </li>
                                {{else}}
                                <li class="nav-item  ">
                                    <a style="background-color:#232222;  font-size: 16px; border-radius: 32px;"
                                        class="nav-link cool" href="#" data-toggle="modal"
                                        data-target="#exampleModal">Login</a>
                                </li>
                                {{/if}}
                            </ul>
                        </li>
                    </div>


            </div>
            {{!-- <div class="header-search-agileits-w3ls">
                <form action="#" method="post">
                    <div class="search">
                        <input class="form-control" type="search" placeholder="Search here..." name="Search"
                            required="">
                    </div>
                    <!--<div class="section_room">
							<select id="country" onchange="change_country(this.value)" class="frm-field required">
								<option value="null">All Items</option>
								<option value="null"></option>
								<option value="AX"></option>
								<option value="AX"></option>
								<option value="AX"></option>
								<option value="AX"></option>
							</select>
						</div>-->
                    <div class="sear-sub">
                        <button class="btn btn1">
                            <i class="fas fa-search"></i>
                        </button>

                    </div>
                    <div class="clearfix"></div>
                </form>
            </div> --}}
        </nav>

    </div>
</header>
<!--//header-->