<section>
    <div class="header-text text-center mt-1">
        <h2>Seller Signup</h2>
    </div>
    <div class="container" style="background-image: url('/images/about.png');">
        <div class="row">
            <div class="col-md-6">

                <form method="POST" action="/seller/sellersignup" style="backdrop-filter: blur(2px);">
                <div>
                    <span style="color: red;" id="message"></span>
                    <br>
                </div>
                    <div class="form-group">
                        <label for="Full Name">Full Name</label>
                        <input type="fullname" class="form-control" id="fullname" name="fullname"
                            aria-describedby="emailHelp" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">User Name</label>
                        <input type="username" class="form-control" id="username" name="username" aria-describedby="username"
                            placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Phone Number</label>
                        <input type="phonenumber" class="form-control" id="phonenumber" name="phonenumber"
                            aria-describedby="phonenumber" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea type="textarea" class="form-control" id="address" name="address"
                            aria-describedby="address" placeholder="Address"> </textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleConfirmPassword1"> Confirm Password</label>
                        <input type="password" class="form-control" id="confirmpassword" onblur="passwordcheck()" id="confirmpassword"
                            placeholder=" Confirm Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">I agree terms and conditions</label>
                    </div>
                    <center><button type="submit" class="btn btn-primary">Submit</button></center>
                    <br>
                </form>
            </div>
            {{!-- <div class="col-md-7 ">
                <div class="image mt-2">
                    <img src="/images/about.png" height="200px" width="500px">
                </div>
               
            </div> --}}
        </div>
    </div>
</section>
<script>
   function passwordcheck(){
       let password1 =document.getElementById('password').value
       let password2 =document.getElementById('confirmpassword').value
       if(password1 === password2){
           console.log('password matching')
       }else{
           document.getElementById('message').innerHTML='Password not matching'
       }
       
    }
</script>