<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<section style="margin-top: 135px;" >
    <div class="text-head text-center">
        <h2 style="margin-top: 50px; font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif; color: #2f79da;">Seller Login</h2>
    </div>
    <div class="container col-10 col-md-4 mt-5 " style="    border-radius: 7px;background-color:#f1f2f3; height: 301px; box-shadow: 3px 1px 7px 1px #888888;">
        <form action="seller/sellerlogin" method="POST" style="background-image: url('/images/about.png'); ">
            <div class="form-group pt-3">
                <label for="name">User Name:</label>
                <input style="border-color:#36b9cc;border-width: 2px;" type="username" id="username" name="fullname" class="form-control" id="email"  required >
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input style="border-color:#36b9cc;border-width: 2px;" type="password" name="password" class="form-control" id="pwd" required>
            </div>
            <div class="checkbox">
                <center><a style="color: tomato;" href="seller/seller-signup">Don't have account ?</a></center>
            </div>
            <br>
            <center><button type="submit" class="btn btn-default" style="background-color:#4e73df; color: white;">Login</button></center>
        </form>

    </div>
</section>
