<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>Dream Haulage</title>
	<!--Bootstrap -->
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/owl.theme.css" type="text/css" media="all">
	<link href="css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Prata" rel="stylesheet">

	
<body>

{{>user-header}}
    <!--/banner-->
    <div class="banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-caption">
                        <h3>
                            <font color="white">Drive in style on your next trip !
                        </h3>
                        <h5>2020</font>
                            <span>New Looks</span>
                        </h5>
                    </div>
                </div>
                <div class="carousel-item item2">
                    <div class="carousel-caption">
                        <h3>
                            <font color="white">Don't dream it,Drive it!
                        </h3>
                        <h5>2020</font>
                            <span>New Looks</span>
                        </h5>
                    </div>
                </div>
                <div class="carousel-item item3">
                    <div class="carousel-caption">
                        <h3>
                            <font color="white">Budgeters book here for the best deals.
                        </h3>
                        <h5>2020</font>
                            <span>New Looks</span>
                        </h5>
                    </div>
                </div>
                <div class="carousel-item item4">
                    <div class="carousel-caption">
                        <h3>
                            <font color="white">Wherever you go, go with all your heart.
                        </h3>
                        <h5>2020</font>
                            <span>New Looks</span>
                        </h5>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--/model-->
    <!--//banner-->
    <!--/banner-bottom-w3ls-agileinfo-->
    <section class="banner-bottom-w3ls-agileinfo">
        <div class="container">
            <div class="row jewel-grids-main-in">
                <div class="col-lg-4 bottom-sub-grid text-center" data-aos="fade-up">
                    <div class="bt-icon">

                        
                        <img src="https://www.indusgo.in/images/exp2.png">
                    </div>

                    <h4 class="sub-tittle">Zero Security Deposit</h4>
                    <p>Book a vehicle with lowest security deposit in.</p>

                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4 bottom-sub-grid text-center" data-aos="fade-up">
                    <div class="bt-icon">
                        <img src="https://www.indusgo.in/images/exp4.png">
                    </div>

                    <h4 class="sub-tittle">With Fuel / Without Fuel</h4>
                    <p>Book with or without fuel.</p>

                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4 bottom-sub-grid text-center" data-aos="fade-up">
                    <div class="bt-icon">
                        <img src="https://www.indusgo.in/images/exp5.png">
                    </div>

                    <h4 class="sub-tittle">Instant Refund</h4>
                    <p>Refund and payments auto processed immediately.
</p>

                </div>
                <!-- /.col-lg-4 -->
            </div>
        </div>
        <!-- /.row -->
    </section>

    {{!-- <!---->
    <div class="featured-items banner-bottom-w3ls-agileinfo">
        <h3 class="tittle text-center"> Brands</h3>
        <div class="inner-sec-wthree-agileits">
            <div class="sreen-gallery-cursual">

                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="item-review text-center">
                            <img src="images/chevrolet.png" class="img-fluid rounded" alt="image" />
                            <h5>B M W</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-review text-center">
                            <img src="images/honda.jpg" class="img-fluid rounded" alt="" />
                            <h5>Honda</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-review text-center">
                            <img src="images/Maruti_Suzuki.png" class="img-fluid rounded" alt="" />
                            <h5>Maruti_Suzuki</h5>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-review text-center">
                            <img src="images/tata.png" class="img-fluid rounded" alt="" />
                            <h5>Tata</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-review text-center">
                            <img src="images/nissan.png" class="img-fluid rounded" alt="" />
                            <h5>Nissan</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-review text-center">
                            <img src="images/volkswagen.jpg" class="img-fluid rounded" alt="" />
                            <h5>Volkswagen</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-review text-center">
                            <img src="images/toyota.png" class="img-fluid rounded" alt="" />
                            <h5>Toyota</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-review text-center">
                            <img src="images/land-rover.png" class="img-fluid rounded" alt="" />
                            <h5>Land-rover</h5>
                        </div>
                    </div>


                </div>
                <!--//screen-gallery-->
            </div>
        </div>
    </div> --}}

    <!--/mobile-app -->
    <div class="container" style="background-color: #e7eaed;">
			<div class="row inner-sec-wthree-agileits">
				<div class="col-md-6 app-info text-left">
					<h3 class="tittle mob" style="color: #b5bb39; font-size: 27px;">AN AFFORDABLE DRIVE</h3>
					<p class="para_vl">Maruti Wangon R, Maruti Celerio ,Maruti Swift, Maruti Baleno, Maruti Ignis , Toyota Etios Liva , Maruti Brezza, Maruti Dzire, Maruti S-Cross, Maruti Ciaz, Honda City, Toyota Innova Crysta, Mahindra XUV500, Toyota Fortuner, Mercedes Benz.</p>
					<div class="app-devices">
						<a href="#">
							<img src="images/app.png" alt="">
						</a>
						<a href="#">
							<img src="images/app1.png" alt="">
						</a>
						<div class="clearfix"> </div>
					</div>
					<p class="para_vl">
						<a href="#">Click here </a>to know more about apps.</p>
				</div>
				<div class="col-md-6 app-img text-right">
					<img src="images/car.jpg" alt=" " class="img-fluid">
				</div>
                </div>
				<div class="clearfix"></div>
				<!--//mobile-app -->
    
    <!--//banner-->
    <!--  Portfolio -->
    <!-- <div class="portfolio" id="portfolio">
			<div class="container">
				<h3 class="tittle text-center">Latest Collection</h3>
				<div class="inner-sec-wthree-agileits">

					<ul class="portfolio-categ filter text-center mb-lg-5 mb-3">
						<li class="port-filter all active">
							<a href="#">All</a>
						</li>
						<li class="cat-item-1">
							<a href="#" title="Category 1">Cars</a>
						</li>
						<li class="cat-item-2">
							<a href="#" title="Category 2">Scooter</a>
						</li>
						<li class="cat-item-3">
							<a href="#" title="Category 3">Bike</a>
						</li>
						<li class="cat-item-4">
							<a href="#" title="Category 4">Bus</a>
						</li>
					</ul>
					<ul class="portfolio-area clearfix">
						<li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
							<div>
								<span class="image-block img-hover">
									 <a class="image-zoom rounded" href="images/1.jpg" data-gal="prettyPhoto[gallery]">
			
										<img src="images/1.jpg" class="img-fluid rounded" alt="">
			
									</a> 
								</span>
							</div>
						</li>
						<li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
							<div>
								<span class="image-block">
									<a class="image-zoom" href="images/2.jpg" data-gal="prettyPhoto[gallery]">
			
										<img src="images/2.jpg" class="img-fluid rounded" alt="">
			
									</a>
								</span>
							</div>
						</li>
						<li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
							<div>
								<span class="image-block">
									<a class="image-zoom" href="images/3.jpg" data-gal="prettyPhoto[gallery]">
			
										<img src="images/3.jpg" class="img-fluid rounded" alt="">
			
									</a>
								</span>
							</div>
						</li>
						<li class="portfolio-item2" data-id="id-3" data-type="cat-item-4">
							<div>
								<span class="image-block">
									<a class="image-zoom" href="images/4.jpg" data-gal="prettyPhoto[gallery]">
			
										<img src="images/4.jpg" class="img-fluid rounded" alt="">
			
									</a>
								</span>
							</div>
						</li>
						<li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
							<div>
								<span class="image-block">
									<a class="image-zoom" href="images/5.jpg" data-gal="prettyPhoto[gallery]">
			
										<img src="images/5.jpg" class="img-fluid rounded" alt="">
			
									</a>
								</span>
							</div>
						</li>
						<li class="portfolio-item2" data-id="id-5" data-type="cat-item-2">
							<div>
								<span class="image-block">
									<a class="image-zoom" href="images/6.jpg" data-gal="prettyPhoto[gallery]">
			
										<img src="images/6.jpg" class="img-fluid rounded" alt="">
			
									</a>
								</span>
							</div>
						</li>
						<li class="portfolio-item2" data-id="id-6" data-type="cat-item-1">
							<div>
								<span class="image-block">
									<a class="image-zoom" href="images/7.jpg" data-gal="prettyPhoto[gallery]">
			
										<img src="images/7.jpg" class="img-fluid rounded" alt="">
			
									</a>
								</span>
							</div>
						</li>
						<li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
							<div>
								<span class="image-block">
									<a class="image-zoom" href="images/8.jpg" data-gal="prettyPhoto[gallery]">
			
										<img src="images/8.jpg" class="img-fluid rounded" alt="">
			
									</a>
								</span>
							</div>
						</li>
						<li class="portfolio-item2" data-id="id-9" data-type="cat-item-4">
							<div>
								<span class="image-block">
									<a class="image-zoom" href="images/9.jpg" data-gal="prettyPhoto[gallery]">
			
										<img src="images/9.jpg" class="img-fluid rounded" alt="">
			
									</a>
								</span>
							</div>
						</li>
					</ul> -->

    <!--end portfolio-area -->
    </div>
    </div>
    </div>
    </section>
    {{>latest-collections}}
    <!---->
    <!--reviews_sec-->
    <section class="reviews_sec featured-items banner-bottom-w3ls-agileinfo">
        <div class="container">
            <h3 class="tittle">What our clients say</h3>
            <div class="inner-sec-wthree-agileits">
                <!---->
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="row test-slides">
                                <div class="col-md-6 testimonials_grid text-center">
                                    <div class="testimonials_grid-inn">
                                        <img src="images/t3.jpg" alt=" " class="img-fluid" />
                                        <div class="test_social_pos">
                                            <ul class="social_list1">
                                                <li>
                                                    <a href="#" class="facebook1">
                                                        <i class="fab fa-facebook-f"></i>

                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="twitter2">
                                                        <i class="fab fa-twitter"></i>

                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <h3>Adith Ck
                                        <span>Customer</span>
                                    </h3>
                                    <i>United Pullupi</i>
                                    <p>Dream Haulage.I used this website for renting car.It is very user-friendly and
                                        also good services are provided by the group and also the vehicles are very well
                                        maintained.
                                    </p>
                                </div>

                                <div class="col-md-6 testimonials_grid text-center">
                                    <div class="testimonials_grid-inn">
                                        <img src="images/t2.jpg" alt=" " class="img-fluid" />
                                        <div class="test_social_pos">
                                            <ul class="social_list1">
                                                <li>
                                                    <a href="#" class="facebook1">
                                                        <i class="fab fa-facebook-f"></i>

                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="twitter2">
                                                        <i class="fab fa-twitter"></i>

                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <h3>Pranav P
                                        <span>Customer</span>
                                    </h3>
                                    <i>Pariyaram,Kannur</i>
                                    <p>Great website.. It helps to get good conditioned vehicles for cheap rate. Great
                                        gesture to make the use ease..fast service than any other.
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row test-slides">
                                <div class="col-md-6 testimonials_grid text-center">
                                    <div class="testimonials_grid-inn">
                                        <img src="images/t3.jpg" alt=" " class="img-fluid" />
                                        <div class="test_social_pos">
                                            <ul class="social_list1">
                                                <li>
                                                    <a href="#" class="facebook1">
                                                        <i class="fab fa-facebook-f"></i>

                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="twitter2">
                                                        <i class="fab fa-twitter"></i>

                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <h3>Jaisal J
                                        <span>Customer</span>
                                    </h3>
                                    <i>Iritty,Kannur</i>
                                    <p>I would say Dream Haulage is the best to rent any vehicle in MANGALORE. I really
                                        loved their service. I have recieved well maintained car within hours of
                                        booking.
                                    </p>
                                </div>

                                <div class="col-md-6 testimonials_grid text-center">
                                    <div class="testimonials_grid-inn">
                                        <img src="images/t2.jpg" alt=" " class="img-fluid" />
                                        <div class="test_social_pos">
                                            <ul class="social_list1">
                                                <li>
                                                    <a href="#" class="facebook1">
                                                        <i class="fab fa-facebook-f"></i>

                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="twitter2">
                                                        <i class="fab fa-twitter"></i>

                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <h3>Aswathi
                                        <span>Customer</span>
                                    </h3>
                                    <i>Talap,Kannur</i>
                                    <p>Good website. I am giving 5 star rating. Easy to use and user friendly app.
                                        Arranged in a good manner so that user can get the quick information.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev test" href="#carouselExampleControls" role="button"
                        data-slide="prev">
                        <span class="far fa-arrow-alt-circle-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next test" href="#carouselExampleControls" role="button"
                        data-slide="next">
                        <span class="far fa-arrow-alt-circle-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!---->
            </div>
        </div>
    </section>
    <!---->
    
    <!---->
    <!--/model-->
    <!-- Modal login -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true"
        style="padding-top: 130px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body video">
                    <div class="signin-form profile">
                        <div class="login-m_page">
                            <h2 align="center">Dream Haulage </h2>

                            <h3 class="sign">Log In</h3>
                            <div class="login-form">
                                <form action="/userlogin" method="post">
                                    <input class="form-control" type="text" name="name" placeholder="Name" required="">
                                    <input class="form-control" type="password" name="password" placeholder="Password"
                                        required="">
                                    <div class="tp">
                                        <input class="form-control" type="submit" value="Log In" >
                                    </div>
                                </form>
                            </div>

                            <p>
                                <a href="#" data-toggle="modal" data-target="#exampleModal2" style="color: red; "> Don't
                                    have an account?</a>
                            </p>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--//model-->
    <!-- Modal join  -->
   

    

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true"
        style="padding-top: 130px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body video">
                    <div class="signin-form profile">
                        <div class="login-m_page">
                            <h3 class="sign">Join</h3>
                            <div class="login-form">
                                <form action="" id="submit-form" method="post">
                                    <div class="form-group">
                                        {{#if smess}}
                                        <span id="user-availability-status" style="font-size:12px;">{{smess.mess}}</span>
                                        {{/if}}
                                        <input class="form-control" type="text"  name="name" id="username"
                                            onBlur="isUserExist()" placeholder="Name" required="">
                                    </div>
                                    <span style="color: green;" id="check_availability_username" style="font-size:12px;"></span>
                                    <span style="color:red;" id="check_not_username" style="font-size:12px;"></span>

                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email"
                                            onBlur="checkAvailability()" placeholder="Email Address"
                                            required="required">
                                        <span id="user-availability-status" style="font-size:12px;"></span>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="address" placeholder="Address"
                                            required="">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="contactno" placeholder="Contactno"
                                            required="">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password" name="password" id="password1"
                                            placeholder="Password" required="">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password" id="password2"
                                            placeholder="Confirm Password" required="">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="submit" id="signupsubmit" value="Join" >
                                    </div>
                                </form>
                            </div>
                            <p>
                                <a href="#"> By clicking Join, I agree to your terms</a>
                            </p>
                        </div>


                    </div>


                </div>

            </div>
        </div>
    </div>
    <!--//model-->
    {{>user-footer}}




    <!-- password-script -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->
    <!-- required-js-files-->
    <!-- carousel -->
    <script src="javascripts/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 1,
                        nav: false
                    },
                    900: {
                        items: 2,
                        nav: false
                    },
                    1000: {
                        items: 5,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>
    <!-- //carousel -->

    <!--//required-js-files-->
    <!-- start-smoth-scrolling -->
    <script src="javascripts/move-top.js"></script>
    <script src="javascripts/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('php,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->

    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                            containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear' 
                                        };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- Necessary-JS-File-For-Bootstrap -->

	<!-- js -->
	<script src="javascripts/jquery-2.2.3.min.js"></script>
	<script src="javascripts/bootstrap.js"></script>
	<!-- //js -->

	
	<!-- //carousel -->

	<!--//required-js-files-->
	<!-- start-smoth-scrolling -->
	<script src="javascripts/move-top.js"></script>
	<script src="javascripts/easing.js"></script>

	<!-- Necessary-JS-File-For-Bootstrap -->
	<!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
	<script src="javascripts/jquery-1.7.2.js"></script>
	<script src="javascripts/jquery.quicksand.js"></script>
	<script src="javascripts/script.js"></script>
	<script src="javascripts/jquery.prettyPhoto.js"></script>
	<!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->




	</script>
	</script>
	</script>
	</script>

	<!-- Mirrored from themes.webmasterdriver.net/carforyou/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Jun 2017 07:22:11 GMT -->

</html>




    </script>
    </script>
    </script>
    </script>

<script>
        $("#submit-form").submit((e)=>{
            e.preventDefault()
            $.ajax({
                url:"/usersignup",
                data:$("#submit-form").serialize(),
                method:"post",
                success:function (response){
                    alert("Login success")
                    window.location.reload()
                    //window.location.href="https://google.com"
                }
            })
        })

        function isUserExist(){
            let user=document.getElementById('username').value
            $.ajax({
                url:'/isuserexist/'+user,
                method:'get',
                success:(response)=>{
                    
                    if(response){
                        document.getElementById('check_availability_username').innerHTML=' '
                        document.getElementById('signupsubmit').disabled = true
                        document.getElementById('check_not_username').innerHTML=' User name already exists'
                      
                        $('#submit').prop('disabled',false)
                        
                    }else{
                        document.getElementById('check_not_username').innerHTML=''
                        document.getElementById('signupsubmit').disabled = false
                        document.getElementById('check_availability_username').innerHTML=' Name available for Registration'
                    }
                    
                }
            })
        }
    </script>
    </html>


    <script>
    $("#feedback").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: "/userfeedback",
            data: $("#feedback").serialize(),
            method: "post",
            success: function (response) {
                if (response.status) {
                    alert("Submited")
                    window.location.reload()
                }else{
                    alert('Pleas login')
                }
            }
        })
    })

    
</script>