
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title> Dream Haulage</title>

	<script>
		addEventListener("load", function () {

			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/owl.theme.css" type="text/css" media="all">
	<link href="css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Prata" rel="stylesheet">

	<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="New folder/images/favicon-icon/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="New folder/images/favicon-icon/apple-touch-icon-114-precomposed.html">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="New folder/images/favicon-icon/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="New folder/images/favicon-icon/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="New folder/images/favicon-icon/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

</head>

<body>
	{{>user-header}}
	<!--//header-->
	<div class="banner-inner">
	</div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#">Home</a>
		</li>
		<li class="breadcrumb-item active">Review</li>
	</ol>

	<!--//banner-->
	<!--/banner-bottom-w3ls-agileinfo-->
	<section class="banner-bottom-w3ls-agileinfo">
		<div class="container">
			<h3 class="tittle text-center">RATINGS</h3>
			<div class="row inner-sec-wthree-agileits">
				<div class="col-lg-7 bt-bottom-info ab">
					<img src="images/ev4.jpg" class="img-fluid" alt=" ">

				</div>
				<div class="col-lg-5 bt-bottom-info">
					<form action="" method="POST">

						 <div id="rating_div">
        <div class="star-rating">
          <span><img src="images/star.png" style="width: 50px;height: 50px"><input type="checkbox" class="fa divya fa-star-o" data-rating="1" style="font-size:20px;"  name="my[]" value="bad" onclick="my(this.value)"></span><br>
          <img src="images/star.png" style="width: 50px;height: 50px"><img src="images/star.png" style="width: 50px;height: 50px"><input type="checkbox" class="fa divya fa-star-o" data-rating="1" style="font-size:20px;"   name="my[]" value="average" onclick="my(this.value)"><br>
          <img src="images/star.png" style="width: 50px;height: 50px"><img src="images/star.png" style="width: 50px;height: 50px"><img src="images/star.png" style="width: 50px;height: 50px"><input type="checkbox" class="fa divya fa-star-o" data-rating="1" style="font-size:20px;"   name="my[]" value="good" onclick="my(this.value)"><br>
          <img src="images/star.png" style="width: 50px;height: 50px"><img src="images/star.png" style="width: 50px;height: 50px"><img src="images/star.png" style="width: 50px;height: 50px"><img src="images/star.png" style="width: 50px;height: 50px">
          <input type="checkbox" class="fa divya fa-star-o" data-rating="1" style="font-size:20px;"  name="my[]" value="Exellent" onclick="my(this.value)"><br>
         
        </div>
  </div>
					</form>
					


				</div>

			</div>


			<!-- Three columns of text below the carousel -->
			<div class="row inner-sec-wthree-agileits jewel-grids-main-in ab">
				<div class="col-lg-4 bottom-sub-grid text-center" data-aos="fade-up">
					<div class="bt-icon">

						<span class="fas fa-gift"></span>
					</div>

					<h4 class="sub-tittle">Gift Card</h4>
					<p>12% discount in first order</p>

				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4 bottom-sub-grid text-center" data-aos="fade-up">
					<div class="bt-icon">
						<span class="fas fa-home"></span>
					</div>

					<h4 class="sub-tittle">Store</h4>
					<p>Select your nearest Store.</p>

				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4 bottom-sub-grid text-center" data-aos="fade-up">
					<div class="bt-icon">
						<span class="far fa-life-ring"></span>
					</div>

					<h4 class="sub-tittle">Full Support</h4>
					<p>24x7 Support.</p>

				</div>
				<!-- /.col-lg-4 -->
			</div>
			<!-- /.row -->
			<!-- <div class="row inner_stat">
				<div class="col-md-3 stats_left counter_grid text-center">
					<i class="far fa-building"></i>
					<p class="counter">145</p>
					<h4>Branches</h4>
				</div>
				<div class="col-md-3 stats_left counter_grid1 text-center">
					<i class="fas fa-users"></i>
					<p class="counter">165</p>
					<h4>Experts</h4>
				</div>
				<div class="col-md-3 stats_left counter_grid2 text-center">
					<i class="far fa-edit"></i>
					<p class="counter">563</p>
					<h4>Designs</h4>
				</div>
				<div class="col-md-3 stats_left counter_grid3 text-center">
					<i class="far fa-smile"></i>
					<p class="counter">1045</p>
					<h4>Happy Clients</h4>
				</div> -->

			<!-- </div>
		</div> -->
	</section>
	<!---->
	<div class="featured-items banner-bottom-w3ls-agileinfo">
		<h3 class="tittle text-center"> Brands</h3>
		<div class="inner-sec-wthree-agileits">
			<div class="sreen-gallery-cursual">

				<div class="owl-carousel owl-theme">
					<div class="item">
						<div class="item-review text-center">
							<img src="images/chevrolet.png" class="img-fluid rounded" alt="" />
							<h5>B M W</h5>
						</div>
					</div>
					<div class="item">
						<div class="item-review text-center">
							<img src="images/honda.jpg" class="img-fluid rounded" alt="" />
							<h5>Honda</h5>
						</div>
					</div>
					<div class="item">
						<div class="item-review text-center">
							<img src="images/Maruti_Suzuki.png" class="img-fluid rounded" alt="" />
							<h5>Maruti_Suzuki</h5>
						</div>
					</div>

					<div class="item">
						<div class="item-review text-center">
							<img src="images/tata.png" class="img-fluid rounded" alt="" />
							<h5>Tata</h5>
						</div>
					</div>
					<div class="item">
						<div class="item-review text-center">
							<img src="images/nissan.png" class="img-fluid rounded" alt="" />
							<h5>Nissan</h5>
						</div>
					</div>
					<div class="item">
						<div class="item-review text-center">
							<img src="images/volkswagen.jpg" class="img-fluid rounded" alt="" />
							<h5>Volkswagen</h5>
						</div>
					</div>
					<div class="item">
						<div class="item-review text-center">
							<img src="images/toyota.png" class="img-fluid rounded" alt="" />
							<h5>Toyota</h5>
						</div>
					</div>
					<div class="item">
						<div class="item-review text-center">
							<img src="images/land-rover.png" class="img-fluid rounded" alt="" />
							<h5>Land-rover</h5>
						</div>
					</div>
					
				
				</div>
				<!--//screen-gallery-->
			</div>
		</div>
	</div>
	<!--//banner-->


	<!--/app-->
	<section class="banner-bottom-w3ls-agileinfo mobile-app-sec">
		<div class="container">
			
			
		</div>
	</section>
	<!--//app-->
	<!--reviews_sec-->
	<section class="reviews_sec featured-items banner-bottom-w3ls-agileinfo">
		<div class="container">
			<h3 class="tittle">What our clients say</h3>
			<div class="inner-sec-wthree-agileits">
				<!---->
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<div class="row test-slides">
								<div class="col-md-6 testimonials_grid text-center">
									<div class="testimonials_grid-inn">
										<img src="images/t3.jpg" alt=" " class="img-fluid" />
										<div class="test_social_pos">
											<ul class="social_list1">
												<li>
													<a href="#" class="facebook1">
														<i class="fab fa-facebook-f"></i>

													</a>
												</li>
												<li>
													<a href="#" class="twitter2">
														<i class="fab fa-twitter"></i>

													</a>
												</li>

											</ul>
										</div>
									</div>
									<h3>Adith Ck
										<span>Customer</span>
									</h3>
									<i>United Pullupi</i>
									<p>Dream Haulage.I used this website for renting car.It is very user-friendly and also good services are provided by the group and also the vehicles are very well maintained.
									</p>
								</div>

								<div class="col-md-6 testimonials_grid text-center">
									<div class="testimonials_grid-inn">
										<img src="images/t2.jpg" alt=" " class="img-fluid" />
										<div class="test_social_pos">
											<ul class="social_list1">
												<li>
													<a href="#" class="facebook1">
														<i class="fab fa-facebook-f"></i>

													</a>
												</li>
												<li>
													<a href="#" class="twitter2">
														<i class="fab fa-twitter"></i>

													</a>
												</li>

											</ul>
										</div>
									</div>
									<h3>Pranav P
										<span>Customer</span>
									</h3>
									<i>Pariyaram,Kannur</i>
									<p>Great website.. It helps to get good conditioned vehicles for cheap rate. Great gesture to make the use ease..fast service than any other.
									</p>
								</div>

							</div>
						</div>
						<div class="carousel-item">
							<div class="row test-slides">
								<div class="col-md-6 testimonials_grid text-center">
									<div class="testimonials_grid-inn">
										<img src="images/t3.jpg" alt=" " class="img-fluid" />
										<div class="test_social_pos">
											<ul class="social_list1">
												<li>
													<a href="#" class="facebook1">
														<i class="fab fa-facebook-f"></i>

													</a>
												</li>
												<li>
													<a href="#" class="twitter2">
														<i class="fab fa-twitter"></i>

													</a>
												</li>

											</ul>
										</div>
									</div>
									<h3>Jaisal J
										<span>Customer</span>
									</h3>
									<i>Iritty,Kannur</i>
									<p>I would say Dream Haulage is the best to rent any vehicle in MANGALORE. I really loved their service. I have recieved  well maintained car within hours of booking.
									</p>
								</div>

								<div class="col-md-6 testimonials_grid text-center">
									<div class="testimonials_grid-inn">
										<img src="images/t2.jpg" alt=" " class="img-fluid" />
										<div class="test_social_pos">
											<ul class="social_list1">
												<li>
													<a href="#" class="facebook1">
														<i class="fab fa-facebook-f"></i>

													</a>
												</li>
												<li>
													<a href="#" class="twitter2">
														<i class="fab fa-twitter"></i>

													</a>
												</li>

											</ul>
										</div>
									</div>
									<h3>Aswathi 
										<span>Customer</span>
									</h3>
									<i>Talap,Kannur</i>
									<p>Good website. I am giving 5 star rating. Easy to use and user friendly app. Arranged in a good manner so that user can get the quick information.
									</p>
								</div>

							</div>
						</div>
					</div>
					<a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
						<span class="far fa-arrow-alt-circle-left"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
						<span class="far fa-arrow-alt-circle-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<!---->
			</div>
		</div>
	</section>
	<!---->


	<!--footer-->
	<footer>
			<!-- subscribe -->
				<div class="footer-bottom-w3layouts-agileinfo">
				<div class="subscribe-main text-center">
					<h2>Feedback</h2>
					<div class="subscribe-form">
						<form action="#" method="post" class="subscribe_form">
							<label style="color:white;">Message</label>
							<textarea class="form-control"name="message" type="text" style="color: #fff;background-color: #111111;"placeholder="Type here..." required=""></textarea>
							<input class="form-control" type="submit" value="Send" name="send">
						</form>

					</div>
					<p>We respect your privacy.No spam ever!</p>
				</div>
				
				<!-- //subscribe -->
				<!-- footer -->
				<div class="footer-cpy text-center">
					<ul class="nav-item">
						<a href="admin/index.php" style=""><font color="lite blue">Admin</a></font>
						<br>
						<a href="seller/index.php" style=""><font color="lite blue">Seller</a></font>
						</ul>
					</div>
					<div class="copyrightbottom-w3ls-agile">
						<center><p>© 2020 Dream haulage. All Rights Reserved </center>
						</p>

					</div>
				</div>
				<!-- //footer -->
			</div>
		</div>
	</footer>
	<!---->
	<!--/model-->
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body video">
					<div class="signin-form profile">
						<div class="login-m_page">
							<h2 align="center" >Dream Haulage </h2>

							<h3 class="sign">Log In</h3>
							<div class="login-form">
								<form action="#" method="post">
									<input class="form-control" type="text" name="name" placeholder="Name" required="">
									<input class="form-control" type="password" name="password" placeholder="Password" required="">
									<div class="tp">
										<input class="form-control" type="submit" value="Log In" name="login">
									</div>
								</form>
							</div>
							
							<p>
								<a href="#" data-toggle="modal" data-target="#exampleModal2"> Don't have an account?</a>
							</p>
						</div>

					</div>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!--//model-->
	<!-- Modal -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body video">
					<div class="signin-form profile">
						<div class="login-m_page">
							<h3 class="sign">Join</h3>
							<div class="login-form">
								<form action="#" method="post">
									<input class="form-control" type="text" name="name" placeholder="Name" required="">
									<input class="form-control" type="email" name="email" placeholder="Email" required="">
									<input class="form-control" type="text" name="address" placeholder="Address" required="">
									<input class="form-control" type="text" name="contactno" placeholder="Contactno" required="">
									<input class="form-control" type="password" name="password" id="password1" placeholder="Password" required="">
									<input class="form-control" type="password" name="password" id="password2" placeholder="Confirm Password" required="">
									<input class="form-control" type="submit" value="Join" name="join">
								</form>
							</div>
							<p>
								<a href="#"> By clicking Join, I agree to your terms</a>
							</p>
						</div>


					</div>


				</div>

			</div>
		</div>
	</div>
	<!--//model-->

	
	<!-- js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<!-- //js -->
	<!-- password-script -->
	<script >
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->
	<!-- required-js-files-->
	<!-- carousel -->
	<script src="js/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 10,
				responsiveClass: true,
				responsive: {
					0: {
						items: 1,
						nav: true
					},
					600: {
						items: 1,
						nav: false
					},
					900: {
						items: 2,
						nav: false
					},
					1000: {
						items:5,
						nav: true,
						loop: false,
						margin: 20
					}
				}
			})
		})
	</script>
	<!-- //carousel -->

	<!--//required-js-files-->
	<!-- start-smoth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('php,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- Necessary-JS-File-For-Bootstrap -->
	<!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
	<script src="js/jquery-1.7.2.js"></script>
	<script src="js/jquery.quicksand.js"></script>
	<script src="js/script.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->




</script>
</script>
</script>
</script>
  <script type="text/javascript">
    function my(str){
    	
        var xmlhttp=new XMLHttpRequest();
        xmlhttp.onreadystatechange=function(){
            if(this.readyState == 4 && this.status == 200){
                alert('rating given successfully');

            }
        };
        xmlhttp.open("GET","search1.php?q=" + str,true);
        xmlhttp.send();
    }
</script>
</html>
